{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">A propos :</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis consequat arcu, eu euismod felis lacinia id. Suspendisse vestibulum, leo id cursus ornare, nunc ipsum dapibus ligula, non molestie risus augue eu ligula. Nulla quis viverra libero, at tristique ante. Maecenas enim mauris, aliquet sed massa in, pretium gravida eros. Donec ac facilisis lectus, vel posuere sem. Nulla elementum quam sem, quis sodales ante tincidunt vel. Mauris vulputate aliquam ipsum eget hendrerit. Donec imperdiet iaculis arcu non condimentum. Nulla scelerisque neque felis, quis aliquam orci tempor at. Proin blandit nisi purus, eu porttitor ligula finibus a. Proin convallis, tellus id consectetur ultrices, mauris nibh ornare tortor, a sagittis leo urna in ante. Mauris interdum massa diam, ac vestibulum nibh maximus sit amet.

                Duis varius venenatis efficitur. Phasellus dictum justo at quam dignissim, at tristique nunc venenatis. Proin maximus rutrum lacus, vel consectetur sem tincidunt a. Vivamus varius lobortis ultrices. Sed condimentum nulla turpis, convallis bibendum mauris commodo vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus sed nisi mauris. Nunc et dignissim urna. Suspendisse id tortor et lacus dignissim efficitur eu eu odio. Morbi ut nisl ut nunc pellentesque interdum non at nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam quis libero laoreet, dignissim nulla sed, molestie justo. Fusce vitae pulvinar nulla. Praesent maximus pretium rutrum.

                Ut pellentesque congue lacinia. Phasellus eget leo eu erat volutpat iaculis. Donec dolor ipsum, condimentum at varius nec, sollicitudin vel quam. Fusce tincidunt euismod pulvinar. Aliquam tempor nibh sed ultricies porta. Curabitur fermentum fermentum luctus. Nulla lacinia mattis magna, et condimentum ipsum pharetra a. Donec lacus sem, dictum non est a, scelerisque fringilla libero. Ut accumsan nulla neque, sit amet gravida ex laoreet id. Nunc sit amet lorem nisi. Vivamus et arcu tristique, porta neque id, efficitur est. Vivamus dictum mauris bibendum metus fermentum aliquet. Pellentesque non augue nibh. Vestibulum vehicula arcu nec est efficitur, a commodo ligula vehicula.

                Quisque congue arcu a enim tincidunt, et euismod massa vulputate. Integer metus nisl, fringilla sed consectetur suscipit, egestas ut elit. Integer leo tortor, blandit sed dolor quis, faucibus vestibulum odio. Praesent luctus sagittis odio, ac sodales erat hendrerit non. Ut felis nibh, gravida vulputate fringilla eu, ultrices et orci. Sed ut accumsan dui, in rhoncus sem. Vestibulum faucibus eros eget ligula dignissim tempus. Pellentesque convallis egestas iaculis. Quisque consequat, felis sed viverra dictum, ipsum nunc consequat elit, ac tincidunt sapien mi eu mi.

                Fusce et iaculis justo. Sed imperdiet quis elit quis tristique. Ut maximus vitae tortor ac cursus. Curabitur vitae consequat neque, nec facilisis mauris. Vestibulum ac urna venenatis, tincidunt tellus quis, maximus justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean quis lectus vitae dui iaculis tempus. Nullam pharetra turpis arcu, sed ornare lectus pulvinar in. Cras tincidunt dapibus nibh, ut aliquet enim egestas a. Cras nec ligula feugiat, accumsan neque et, tempor magna.}</p>
                <a class="btn btn-primary btn-lg" href="{{path('home') }}" role="button">Retour Accueil</a>
            </p>
        </div>
    </div>
{% endblock %}
