{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="container">
        <h1>Bienvenue ✅</h1>
        <div class="row-flex">
        <h3>Voici une liste des articles les plus récents !</h3>
            {% for article in articles %}
                <div class="col-3 float-left">
                    <div class="card border-light mb-3 mt-3" style="max-width: 20rem;">
                        <div class="card-header">{{ article.title }}</div>
                        <div class="card-body">
                            <img src="{{ article.picture }}" style="max-width: 13rem;">
                            <p class="card-text mt-3">{{ article.content |u.truncate(100,'...') }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
